@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&family=Taviraj:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins';
    background-image: url(../images/test.jpg);
    font-size: 15px;
}
img {
    width: 100%;
}
.contain {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.frame {
    width: 450px;
    border: 10px solid rgb(59, 137, 255);
    display: inline-block;
    vertical-align: top;
    margin-top: 4vh;
    margin-right: 4vh;
}
.frame img {
    height: 100%;
    object-fit: cover;
    display: block;
}
.title h1 {
    border-bottom: 2px solid rg;
    margin-top: 4vh;
    padding-bottom: 0.2rem;
    font-size: 4rem;
    color: rgb(255, 255, 255)
}
.title ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0px 1rem;
}

.title ul li {
    flex: 200px;
}

.content p {
    margin-bottom: 1rem;
    font-size: 15px;
}

#abt {
    grid-template-columns: 1fr 450px 250px 1fr;
}

.title {
    display: inline-block;
    width: 700px;
}



#navbar {
    background: linear-gradient(to bottom, rgb(0, 92, 128), #7197c4);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 150px;
}


@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }
}