@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&family=Taviraj:wght@100&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'poppins';
    background-image: url(../images/texture.jpg);
    font-size: 15px;
}

#navbar {
    background: linear-gradient(to bottom, rgb(0, 92, 128), #7197c4);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 150px;
}

#navbar .cta-buttom {
    background-color: white;
    color: rgb(235, 148, 235);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.portfolio-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.portfolio-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.instagram {
    display: flex;
    justify-content: center;
}