* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: rgb(46, 137, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#navbar {
    background: linear-gradient(to bottom, rgb(34, 0, 128), #433e6d);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    display:flex;
    flex-direction: column;
    }

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 150px;
}

#navbar .cta-buttom {
    background-color: white;
    color: rgb(235, 148, 235);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
    }
}