* {
    box-sizing: border-box;
    background-color: #111;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #fcfcfc;
}

#header #tube {
    color: rgb(56, 66, 7);
    background-color: lightblue;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #aaa;
}

#sidebar ul a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: seagreen;
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
    background: radial-gradient(at top left, crimson, orange);
    border-radius: 8px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: #afafaf;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}