* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid #bfefff;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}