/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    background: linear-gradient(
        to bottom right,
        rgb(253, 204, 115)
        rgb(237, 140, 79)
    );
    border: 2px solid black;
    width: 700px;
}

#left-side, 
#right-side {
    display: inline-block;
}

#id-and-expiration div {
    display: inline-block;
}

#small-pic,
#data-fields {
    display: inline-block;
}

#data-left,
#data-right {
    display: inline-block;
}

#signature {
    text-align: center;
}

#donor,
#real-id {
    display: inline-block;
}